body{
	padding-top:50px;
}

.navbar.navbar-default{
	margin:0;
}

.board{
	white-space: nowrap;
}

.timelabel{
	line-height:100px;
	float:left;
	padding-top:50px;
	padding-left:30px;
}

.timeline{
	display: inline-block;
	vertical-align: top;
	width:200px;
	margin:5px 5px 0;
	position:relative;
}

ul{
	padding:0;
}

li.event{
	box-sizing:border-box;
	position:absolute;
	text-align: center;
	width: 100%;
	border-radius: 10px;
	border:1px #ccc solid;
	background-color: #e6e6e6;
	list-style-type: none;
	z-index: 100;
}

.new-event{
	background-color: #fff;
	z-index:300;
	display:none;
	position:relative;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	padding: 10px;
	margin-top:-20px;
}
.new-event .btn{
	margin-top: 5px;
}